{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "mod/**/*",
            "options": {
                "endOfLine": "crlf"
            }
        },
        {
            "files": "mod/**/*.xml",
            "options": {
                "endOfLine": "crlf",
                "useTabs": true
            }
        }
    ]
}
