{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "mod/**/*",
      "options": {
        "endOfLine": "crlf"
      }
    },
    {
      "files": "mod/**/*.xml",
      "options": {
        "endOfLine": "crlf",
        "useTabs": true
      }
    }
  ]
}
