extends layout.pug 

block menu
  if user !== undefined
    li
      a(href=`/streamer/${user.displayName}`) stream link

block content
  if user === undefined
    div.prose
      h1.instructions Instructions
      p.
        Log in via Twitch to get your customized mod zip file. Your Twitch credentials are not stored, and are
        only used to identify which streamer's wands page to update as you play the game.
  else

    div.prose
      h1.instructions Instructions
      p.
        Download your customized mod zip bundle below. The bundle marked "latest" is recommended, older versions
        may not work correctly but are provided for your convenience. <strong>Do not share this zip file with others!</strong>
        The mod bundle includes credentials that identify which streamer page to update. If another user installs the same
        zip bundle, they will be sending wand updates to <em>your</em> stream page!

    h1.releases Streamer Wands releases for #{user.displayName}:
    each r, i in releases
      div 
        a(href=`/release/${r.path}`)=r.name
        span=(i === 0 ? ' (latest)' : '')

    div.prose
      h1.chrome-warning
      p. 
        Chrome is currently complaining about the zip file as an "uncommon file", so you may need to take an extra step to
        complete the download. See these images:
      div(style="display: flex; gap: 0.5rem;")
        img(src="/img/uncommon_file_1.png" style="width: 100%; height: 100%")
        img(src="/img/uncommon_file_2.png" style="width: 100%; height: 100%")

block footer
  h1.github Github
  p.
    Source code is <a href="https://github.com/myndzi/streamer-wands-backend/">available on Github</a>. In particular, the
    contents of the mod bundle are in the <a href="https://github.com/myndzi/streamer-wands-backend/tree/master/mod/">mod folder</a>.



