doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=VT323&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .content
        block content
            p Hi bish