extends layout.pug 

block content
  div.prose
    h1.nostreamer Streamer "#{name}" Not Found 

    p. 
      The streamer may not have logged in to #{domain} yet. 

    h2.migration Streamer Wands has moved to a new host

    p.
      TLDR for streamers: You will need to <a href="/auth/login/beta">log in</a> again, and accept OAuth from a new Twitch application. You
      will also need to replace your current version of the mod with the new one <a href="/">downloaded from this site</a>. The old installation
      instructions no longer apply, though: you can download a ready-to-install zip file from this site directly.

    p.
      Soler, the original author of Streamer Wands, has archived the <a href="https://github.com/soler91/streamer-wands-backend">original project</a>
      and handed it off to other maintainers. The <a href="https://github.com/myndzi/streamer-wands-backend">new fork</a> is maintained by
      <a href="https://twitch.tv/myndzi">myndzi</a>, with hosting generously provided by <a href="https://twitch.tv/dunkorslam">DunkOrSlam</a>.
    p.
      I (myndzi) have no current plans to develop the code further, but will accept reasonable pull requests if you are interested in contributing.
    p.
      Big thanks to <a href="https://ko-fi.com/soler91">Soler</a> for all his work on the project to date!



block footer
  h1.github Github
  p.
    Source code is <a href="https://github.com/myndzi/streamer-wands-backend/">available on Github</a>. In particular, the
    contents of the mod bundle are in the <a href="https://github.com/myndzi/streamer-wands-backend/tree/master/mod/">mod folder</a>.



